
* {
  box-sizing: border-box;
}

h1 {
  font-size: 64px;
  color: #fff;
  font-family: 'Abel', sans-serif;
}
h2 {
  font-size: 36px;
  font-family: 'Abel', sans-serif;
}
h2.about {
  font-size: 36px;
  text-align: center;
  font-family: 'Abel', sans-serif;
}
h2.bar {
  font-size: 36px;
  color: #fff;
  font-family: 'Abel', sans-serif;
}
p {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
p.album_info {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
p.album_week {
  font-size: 20px;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #3e505b;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
header {
  display: flex;
}
header .logo {
  width: 150px !important;
  height: 150px !important;
}
.logo {
  animation: logo 30s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

a {
  display: block;
  padding: 8px;
  background-color: #f7c548;
}
.menu-desktop ul {
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #26413c;
}

.menu-desktop li {
  background-color: #f7c548;
  margin-right: 10px;
}

.menu-desktop li a {
  color: white;
  font-family: 'abel', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 6px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.header {
  background: #8ab0ab;
  border: 1px solid #8ab0ab;
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  z-index: 1;
  display: flex;
}
.boxed {
  background: white;
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  z-index: 1;
  display: flex;
}
.boxed2 {
  background: #8ab0ab;
  border: 1px solid #8ab0ab;
  width: 90%;
  margin: 0 auto;
  padding: 0px;
  z-index: 1;
  display: flex;
}
.boxed3 {
  background: #26413c;
  border: 1px solid #26413c;
  width: 90%;
  margin: 0 auto;
  padding: 0px;
}
.boxed .gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.zoom {
  padding: 50px;
  
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}

.card {
  text-align: center;
  flex: 20%;
  padding: 0 16px 16px 16px;
}
.menu-mobile {
  display: none;
}
.column {
  float: left;
  width: 33.33%;
}
/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}


.new-page .grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.new-page article:nth-child(odd) {
  background: #26413c;
  padding: 0 20px;
}
.new-page article:nth-child(2) {
  padding: 0 20px;
}
.new-page .grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
}
.special {
  text-align: center;
}
.content {
  background: #fff;
}
.about-page main {
  background: #fff;
  width: 90%;
  margin: auto;
  padding: 80px;
}
.about-page main .img-box {
  width: 60%;
  margin: auto;
}
.about-page main h1 {
  text-align: center;
}
@media screen and (max-width: 520px) {
  /* START of Mobile Menu */
  .nav,
  .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
  }
  .menu-desktop li {
    background-color: none;
  }
  .icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }
  h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Abel', sans-serif;
  }
  h2 {
    font-size: 32px;
    font-family: 'Abel', sans-serif;
    text-align: center;
  }
  h2.about {
    font-size: 32px;
    text-align: center;
    font-family: 'Abel', sans-serif;
  }
  h2.bar {
    font-size: 32px;
    color: #fff;
    font-family: 'Abel', sans-serif;
  }
  p {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
  }
  p.album_info {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }
  p.album_week {
    font-size: 15px;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }
  .zoom {display: none;}
  header .logo {
    width: 100px !important;
    height: 100px !important;
  }

  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    top: 10px;
  }

  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }

  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu-mobile {
    background-color: #f7c548;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'abel', sans-serif;
    text-align: center;
    font-size: 30px;
  }

  .menu-mobile,
  .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
  }
  .menu-mobile a:hover {
    color: white;
  }

  .desktop,
  .menu-desktop,
  .menu-mobile {
    display: none;
  }

  .card {
    text-align: center;
    flex: 70%;
    padding: 20px;
  }
  .column {
    width: 100%;
  }
  .column.side,
  .column.middle {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
  .hide-on-mobile {
    display: none;
  }
  .new-page main.grid {
    grid-template-columns: 1fr;
  }

  .new-page .grid-gallery {
    grid-template-columns: 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .boxed {
    flex-direction: column;
  }
}

@keyframes logo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
